{% extends 'base.html' %}

{% block content %}
<h3>Post comment:</h3>

<form action="" method="POST">
    {{ post.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ post.title.label }}
            {{ post.title(class="form-control", placeholder="Enter Title Comment") }}
        </fieldset>
        <fieldset>
            {{ post.content.label }}
            {{ post.content(class="form-control", placeholder="Enter Comment") }}
        </fieldset>
        {{ post.submit(class='btn btn-success') }}
    </div>
</form>

{% endblock content %}