{% extends 'base.html' %}

{% block content %}
<h1>Hello, new user. Please register your phone number here!</h1>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control", placeholder="first_name") }}
        </fieldset>
        <fieldset>
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control", placeholder="last_name") }}
        </fieldset>
        <fieldset>
            {{ form.phone_number.label }}
            {{ form.phone_number(class="form-control", placeholder="phone_number") }}
        </fieldset>
        <fieldset>
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password") }}
        </fieldset>
        <fieldset>
            {{ form.confirm_pass.label }}
            {{ form.confirm_pass(class="form-control", placeholder="Confirm Password") }}
        </fieldset>
        {{ form.submit(class="btn btn-success") }}
    </div>

{% endblock content %}